<h2>Your TODO list</h2>

<a class="waves-effect waves-light btn-large green" href="/create">Create new TODO</a>

{{#if todoList.length}}
    <ul>
        {{#each todoList}}
            <li class="todo-element">
                <label>
                    <form action="/finish" method="POST">
                        {{#if finished}}
                            <span class="finished">{{content}}</span>
                        {{else}}
                            <span>{{content}}</span>
                        {{/if}}
                        <input type="hidden" value="{{_id}}" name="id">
                        {{#if finished}}
                            <button class="btn btn-small gray" type="submit">Reopen</button>
                        {{else}}
                            <button class="btn btn-small" type="submit">Finish</button>
                        {{/if}}
                    </form>
                    <form action="/delete" method="POST">
                        <input type="hidden" value="{{_id}}" name="id">
                        <button class="btn btn-small red" type="submit">Delete</button>
                    </form>
                </label>
            </li>
        {{/each}}
    </ul>
{{else}}
    <p>There are no TODOs at the moment...</p>
{{/if}}